<link href="https://fonts.googleapis.com/css2?family=Borel&family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
 

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div style="text-align: center; padding: 20px 0;">
        <img src="assets\icon\pass1.png" alt="Ícono de Pastel" style="width: 100px; height: 100px;">
      </div>
    
      <ion-card-title> Cambiar contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> <ion-icon slot="start" name="lock-closed" class="input-icon" style="color: #ea2976;"></ion-icon>Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><ion-icon slot="start" name="lock-closed" class="input-icon" style="color: #ea2976;"></ion-icon>Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmNewPassword" type="password"></ion-input>
        </ion-item>
       
      </ion-list>
     
    </ion-card-content>
    <ion-item>
      <ion-button expand="block" color="medium" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button><br><br>
    
      <ion-button expand="block" color="medium" (click)="cancelar()">Cancelar</ion-button>
    </ion-item>
  
  </ion-card>

</ion-content>