// ion-header {
//   --background: #ff8c00; /* Color de fondo personalizado para el header */
// }

// ion-toolbar {
//   --background: #ff8c00; /* Color de fondo personalizado */
// }

ion-title {
  font-size: 20px;
  
}

.producto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto-info {
  flex: 2;
  padding-left: 10px;
}

.producto-item h2 {
  font-size: 18px;
  font-weight: bold;
}

.producto-item p {
  font-size: 16px;
  color: #555;
}

.producto-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.eliminar-btn {
  font-size: 14px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.eliminar-btn ion-icon {
  margin-right: 5px;
}

.no-productos {
  text-align: center;
  font-size: 18px;
  color: #fc1860;
}
