<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis compras</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="catalogo()">
        <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      </ion-button>
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- Mostrar los productos en el carrito -->
    <ion-item *ngFor="let producto of productosCarrito" class="producto-item">
      <img [src]="producto.imagen || 'assets/default-image.jpg'" alt="{{ producto.nombre }}" class="producto-img"/>
      <ion-label class="producto-info">
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: {{ producto.precio }}</p>
      </ion-label>
      <ion-button fill="solid" color="danger" (click)="eliminarDelCarrito(producto)" class="eliminar-btn">
        <ion-icon name="trash-outline"></ion-icon> Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Si no hay productos en el carrito -->
  <div *ngIf="productosCarrito.length === 0" class="no-productos">
    <p>No hay productos en el carrito.</p>
  </div>
</ion-content>
