<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Más</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <div style="text-align: center; padding: 20px 0;">
        <img src="assets\icon\usuario.png" alt="Ícono de Pastel" style="width: 100px; height: 100px;">
      </div>
    
      <ion-card-title>Mi cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="nombre">
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ nombre }}</ion-text>
        </ion-item>
        <ion-item *ngIf="usuario">
          <ion-label>Usuario:</ion-label>
          <ion-text>{{ usuario }}</ion-text>
        </ion-item>
        <ion-item *ngIf="email">
          <ion-label>Email:</ion-label>
          <ion-text>{{ email }}</ion-text>
        </ion-item>
        <ion-item *ngIf="ultimoAcceso">
          <ion-label>Último acceso:</ion-label>
          <ion-text>{{ ultimoAcceso }}</ion-text>
        </ion-item>
       <br>
       <br>
      </ion-list>

      <ion-button expand="block" style="color:#fdfdfd;" (click)="irACambiarContrasena()">Cambiar Contraseña</ion-button>
      <ion-button expand="block"  style="color:#fdfdfd;" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-card-content>
  </ion-card>

 


</ion-content>