<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="catalogo()">
        <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container">
    <img class="logo" src="assets/reloj.png" alt="Logo Pasteles Mimi" width="120px"  height="120px"> 
  </div>
</ion-content>
