<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis compras</ion-title>
    <ion-buttons slot="end">
      <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let compra of compras">
        <ion-label>
          <h2>{{ compra.nombre }}</h2>
          <p>Precio: ${{ compra.precio }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-content>
