<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis compras</ion-title>
    <ion-buttons slot="end">
      <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
