<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-icon aria-hidden="true" name="bookmarks-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <!-- <div id="container">
    <img class="logo" src="assets/pedido.png" alt="Logo Pasteles Mimi" width="120px"  height="120px"> 
  </div> -->
  <ion-list>
    <ion-item *ngFor="let producto of carrito">
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <p>Precio: ${{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
