<ion-header [translucent]="true">
  <link href="https://fonts.googleapis.com/css2?family=Borel&family=DM+Serif+Display:ital@0;1&family=Lilita+One&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
 
  <ion-toolbar>
    <ion-title>Mis Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="catalogo()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="notificaciones()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon aria-hidden="true" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-card *ngFor="let pedido of pedidos" class="pedido-card">
      <ion-card-header>
        <ion-card-title>Pedido #{{ pedido.id }}</ion-card-title>
        <ion-card-subtitle>{{ pedido.fecha }} - {{ pedido.estado }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Total:</strong> {{ pedido.total | currency }}</p>
        <p><strong>Productos:</strong> {{ getProductosNombres(pedido) }}</p>
 
      </ion-card-content>
      <ion-button expand="full" (click)="verDetallePedido(pedido)">Ver Detalles</ion-button>
    </ion-card>
  </ion-list>

  <div *ngIf="pedidos.length === 0" class="no-pedidos">
    <h3>¡Aún no tienes pedidos!</h3>
    <p>Explora nuestro catálogo y haz tu primer pedido.</p>
    <ion-button color="secondary"  (click)="catalogo()">Ir al Catálogo</ion-button>
  </div>
</ion-content>