// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #ff8fb4;
	--ion-color-primary-rgb: 255,143,180;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e07e9e;
	--ion-color-primary-tint: #ff9abc;

	--ion-color-secondary: #9bcaed;
	--ion-color-secondary-rgb: 155,202,237;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #88b2d1;
	--ion-color-secondary-tint: #a5cfef;

	--ion-color-tertiary: #f8cedd;
	--ion-color-tertiary-rgb: 248,206,221;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #dab5c2;
	--ion-color-tertiary-tint: #f9d3e0;

	--ion-color-success: #daff8a;
	--ion-color-success-rgb: 218,255,138;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #c0e079;
	--ion-color-success-tint: #deff96;

	--ion-color-warning: #f0b800;
	--ion-color-warning-rgb: 240,184,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d3a200;
	--ion-color-warning-tint: #f2bf1a;

	--ion-color-danger: #c1767c;
	--ion-color-danger-rgb: 193,118,124;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #aa686d;
	--ion-color-danger-tint: #c78489;

	--ion-color-light: #27437c;
	--ion-color-light-rgb: 39,67,124;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #223b6d;
	--ion-color-light-tint: #3d5689;

	--ion-color-medium: #d42a6b;
	--ion-color-medium-rgb: 197,185,52;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #e7138f;
	--ion-color-medium-tint: #eb3ece;

	--ion-color-dark: #f245aa;
	--ion-color-dark-rgb: 242,69,170;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0,0,0;
	--ion-color-dark-shade: #d53d96;
	--ion-color-dark-tint: #f358b3;

}