// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #ff8fb4;
	--ion-color-primary-rgb: 255,143,180;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e07e9e;
	--ion-color-primary-tint: #ff9abc;

	--ion-color-secondary: #c72c5d;
	--ion-color-secondary-rgb: 155,202,237;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #e23c95;
	--ion-color-secondary-tint: #db78a4;

	--ion-color-tertiary: #f8cedd;
	--ion-color-tertiary-rgb: 248,206,221;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #dab5c2;
	--ion-color-tertiary-tint: #f9d3e0;

	--ion-color-success: #ee2eb8;
	--ion-color-success-rgb: 218,255,138;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #e7339c;
	--ion-color-success-tint: #e2409c;

	--ion-color-warning: #dd1483;
	--ion-color-warning-rgb: 240,184,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d30094;
	--ion-color-warning-tint: #ca1567;

	--ion-color-danger: #c1767c;
	--ion-color-danger-rgb: 193,118,124;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #aa686d;
	--ion-color-danger-tint: #c78489;

	--ion-color-light: #bf277d;
	--ion-color-light-rgb: 39,67,124;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #f912b0;
	--ion-color-light-tint: #da1e79;

	--ion-color-medium: #d42a6b;
	--ion-color-medium-rgb: 197,185,52;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #e7138f;
	--ion-color-medium-tint: #eb3ece;

	--ion-color-dark: #f245aa;
	--ion-color-dark-rgb: 242,69,170;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0,0,0;
	--ion-color-dark-shade: #d53d96;
	--ion-color-dark-tint: #f358b3;

}